[Unit]
Description=DHT22 Poller inside sensors
After=influxdb.service

[Service]
Type=simple
User=pi
WorkingDirectory= /home/pi/pi_temps/inside/
ExecStart=/usr/bin/python3 /home/pi/pi_temps/inside/sensor_data_logger.py
Restart=always

[Install]
WantedBy=multi-user.target