[Unit]
Description=DHT22 Poller Outside
After=influxdb.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/pi_temps/outside_temp_logger.py
Restart=always

[Install]
WantedBy=multi-user.target