[Unit]
Description=Outside temp
After=influxdb.service

[Service]
Type=simple
User=pi
WorkingDirectory= /home/pi/pi_temps/outside/
ExecStart=/usr/bin/python3 /home/pi/pi_temps/outside/outside_temp_logger.py
Restart=always

[Install]
WantedBy=multi-user.target