[Unit]
Description=Publishes notifications to SNS topic producing SMS alerts
After=sensor_data_logger.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pi_temps/alert_publisher/
ExecStart=/bin/bash /home/pi/pi_temps/alert_publisher/alert_publisher.sh
Restart=always

[Install]
WantedBy=multi-user.target
